  

  .container {
    padding: 0px 2rem;
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  .nav ul {
    display: flex;
    color: black;
    letter-spacing: 2px;
  }

  .nav ul li {
    margin: 25px 24px;
    list-style: none;
    font-weight: bold;
    margin-top: 25px;
  }
  .banner{
    max-width:1998px;

     
  }
  .info{
    width: 500px;
    font-size: 20px;
  }
  .info h1{
    margin-top:10px;
    margin-left: -100px;
    text-decoration: underline;
  }
    .info .address{
    position: absolute;
    left: 80px;
  }
  
  .mobile{
    position: relative;
    top: 50px;
    left: -201px;
  }
  
  
  .mail{
    position: relative;
    top: 100px;
    left: -442px;
  }
  

  .form {
    font-size: 30px;
    border-radius: 5px;
    padding: 10px;


  }

  .form label {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
  }

  .form input[type="text"] {
    width: 280px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 5px;
    height: 40px;
    outline: none;
  }

  .form input[type="email"] {
    width: 280px;
    height: 38px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 5px;
    outline: none;
  }

  .form textarea {
    resize: none;
    height: 100px;
    width: 284px;
    border-radius: 5px;
  }

  .form textarea[type="text"] {
    padding: 5px 20px;
    outline: none;
  }

  .form button {
    cursor: pointer;
    font-size: 20px;
    width: 280px;
    height: 30px;
    border-radius: 9px;
    border: none;
    color: white;
    margin-left: 5px;
    background-color: black;
  }
  /* About us css */
  .para{
    border: 2px dotted red;
    height:200px;
    margin-top: 111px;
    margin-left: 66px;
    font-size: 20px;
    font-weight: bold;
    padding: 2rem;
    display: flex; 
    width: 602px;
    text-align: center;
  }
  /* Footer css */
  .FooterWrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top:50px;
    color:black;
    border-top: 1px solid rgb(122, 121, 121);    
    
  }
  .footertop {  
    display: flex;
    padding: 50px 0px 10px 0px;
  }

  .footmenu {
    justify-content: space-between;
    flex: 1 1 50%;
    padding: 0 4px;
    margin-bottom: 15px;
    margin-left: -11px;
  }
  
  .MenuList{
    color:black;
      margin: 10px;
  }
  .MenuList li{
   list-style: none;
  }
  .MenuList:hover{
    color:black;
  }
  .MenuList h3{
    cursor: text;

  }
  .MenuLine{
    margin-top: -70px;
  }
  
  .home{
    position: relative;
    top: -8px;
  }
  .call{
    position: relative;
    top: -10px;
  }
 .mailId{
  position: relative;
  top: -8px;
 }
  .footmenu ul li {
    padding: 6px 0;
    list-style: none;
  }

  .foot_top {
    background: #666;
    padding: 20px 0;
  }

  
  

  .miditem h5 {
    margin-left: 10px;
    margin-bottom: 7px;
    font-size: 14px;
    color: white;
  }

  

  .copyright {
    padding: 10px;
    background-color: rgb(68,68,68);
  }

  .copyright p{
    text-align: center;
    color: white;
    font-size: 14px;
  }

  .copyright {
      list-style: none;
      height: 110px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
 
   
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  

  .container {
    padding: 0px 2rem;
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  .nav ul {
    display: flex;
    color: black;
    letter-spacing: 2px;
  }

  .nav ul li {
    margin: 25px 24px;
    list-style: none;
    font-weight: bold;
    margin-top: 25px;
  }
  .banner{
    background-image: url("https://images.unsplash.com/photo-1644073978087-b3da7c145e40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  }
  .info{
    width: 500px;
    font-size: 20px;
  }
  .info h1{
    margin-top:10px;
    margin-left: -100px;
    text-decoration: underline;
  }
    .info .address{
    position: absolute;
    left: 80px;
  }
  
  .mobile{
    position: relative;
    top: 50px;
    left: -201px;
  }
  
  
  .mail{
    position: relative;
    top: 100px;
    left: -442px;
  }
  

  .form {
    font-size: 30px;
    border-radius: 5px;
    padding: 10px;


  }

  .form label {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
  }

  .form input[type="text"] {
    width: 280px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 5px;
    height: 40px;
    outline: none;
  }

  .form input[type="email"] {
    width: 280px;
    height: 38px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 5px;
    outline: none;
  }

  .form textarea {
    resize: none;
    height: 100px;
    width: 284px;
    border-radius: 5px;
  }

  .form textarea[type="text"] {
    padding: 5px 20px;
    outline: none;
  }

  .form button {
    cursor: pointer;
    font-size: 20px;
    width: 280px;
    height: 30px;
    border-radius: 9px;
    border: none;
    color: white;
    margin-left: 5px;
    background-color: black;
  }
  /* About us css */
  .para{
    border: 2px dotted red;
    height:200px;
    margin-top: 111px;
    margin-left: 66px;
    font-size: 20px;
    font-weight: bold;
    padding: 2rem;
    display: flex; 
    width: 602px;
    text-align: center;
  }
  /* Footer css */
  .FooterWrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top:50px;
    color:black;
    border-top: 1px solid rgb(122, 121, 121);    
    
  }
  .footertop {  
    display: flex;
    padding: 50px 0px 10px 0px;
  }

  .footmenu {
    justify-content: space-between;
    flex: 1 1 50%;
    padding: 0 4px;
    margin-bottom: 15px;
    margin-left: -11px;
  }
  
  .MenuList{
    color:black;
      margin: 10px;
  }
  .MenuList li{
   list-style: none;
  }
  .MenuList:hover{
    color:black;
  }
  .MenuList h3{
    cursor: text;

  }
  .MenuLine{
    margin-top: -70px;
  }
  
  .home{
    position: relative;
    top: -8px;
  }
  .call{
    position: relative;
    top: -10px;
  }
 .mailId{
  position: relative;
  top: -8px;
 }
  .footmenu ul li {
    padding: 6px 0;
    list-style: none;
  }

  .foot_top {
    background: #666;
    padding: 20px 0;
  }

  
  

  .miditem h5 {
    margin-left: 10px;
    margin-bottom: 7px;
    font-size: 14px;
    color: white;
  }

  

  .copyright {
    padding: 10px;
    background-color: rgb(68,68,68);
  }

  .copyright p{
    text-align: center;
    color: white;
    font-size: 14px;
  }

  .copyright {
      list-style: none;
      height: 110px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
 
   
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  

  .container {
    padding: 0px 2rem;
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  .nav ul {
    display: flex;
    color: black;
    letter-spacing: 2px;
  }

  .nav ul li {
    margin: 25px 24px;
    list-style: none;
    font-weight: bold;
    margin-top: 25px;
  }
  .banner{
    background-image: url("https://images.unsplash.com/photo-1644073978087-b3da7c145e40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  }
  .info{
    width: 500px;
    font-size: 20px;
  }
  .info h1{
    margin-top:10px;
    margin-left: -100px;
    text-decoration: underline;
  }
    .info .address{
    position: absolute;
    left: 80px;
  }
  
  .mobile{
    position: relative;
    top: 50px;
    left: -201px;
  }
  
  
  .mail{
    position: relative;
    top: 100px;
    left: -442px;
  }
  

  .form {
    font-size: 30px;
    border-radius: 5px;
    padding: 10px;


  }

  .form label {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
  }

  .form input[type="text"] {
    width: 280px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 5px;
    height: 40px;
    outline: none;
  }

  .form input[type="email"] {
    width: 280px;
    height: 38px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 5px;
    outline: none;
  }

  .form textarea {
    resize: none;
    height: 100px;
    width: 284px;
    border-radius: 5px;
  }

  .form textarea[type="text"] {
    padding: 5px 20px;
    outline: none;
  }

  .form button {
    cursor: pointer;
    font-size: 20px;
    width: 280px;
    height: 30px;
    border-radius: 9px;
    border: none;
    color: white;
    margin-left: 5px;
    background-color: black;
  }
  /* About us css */
  .para{
    border: 2px dotted red;
    height:200px;
    margin-top: 111px;
    margin-left: 66px;
    font-size: 20px;
    font-weight: bold;
    padding: 2rem;
    display: flex; 
    width: 602px;
    text-align: center;
  }
  /* Footer css */
  .FooterWrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top:50px;
    color:black;
    border-top: 1px solid rgb(122, 121, 121);    
    
  }
  .footertop {  
    display: flex;
    padding: 50px 0px 10px 0px;
  }

  .footmenu {
    justify-content: space-between;
    flex: 1 1 50%;
    padding: 0 4px;
    margin-bottom: 15px;
    margin-left: -11px;
  }
  
  .MenuList{
    color:black;
      margin: 10px;
  }
  .MenuList li{
   list-style: none;
  }
  .MenuList:hover{
    color:black;
  }
  .MenuList h3{
    cursor: text;

  }
  .MenuLine{
    margin-top: -70px;
  }
  
  .home{
    position: relative;
    top: -8px;
  }
  .call{
    position: relative;
    top: -10px;
  }
 .mailId{
  position: relative;
  top: -8px;
 }
  .footmenu ul li {
    padding: 6px 0;
    list-style: none;
  }

  .foot_top {
    background: #666;
    padding: 20px 0;
  }

  
  

  .miditem h5 {
    margin-left: 10px;
    margin-bottom: 7px;
    font-size: 14px;
    color: white;
  }

  

  .copyright {
    padding: 10px;
    background-color: rgb(68,68,68);
  }

  .copyright p{
    text-align: center;
    color: white;
    font-size: 14px;
  }

  .copyright {
      list-style: none;
      height: 110px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
 
   
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }